body {
  font-family: 'Roboto', sans-serif;
  background-color:#eee;
  overflow-y:scroll;

  .btn-xs {
    padding:0.2em 0;
    text-align: center;
    line-height:0;
    height:1em;
    width:1em;
  }

  ul.nav.flex-column {
    .nav-link {
      border:1px solid #eee;
      &:hover{
        border:1px solid #ddd;
        background-color: #f8f8f8;
      }
    }
  }
}
