$backgroundColor: #e0e0e0;

body {
  font-family: 'Roboto', sans-serif;
  background-color:$backgroundColor;
  overflow-y:scroll;

  .btn-xs {
    padding:0.2em 0;
    text-align: center;
    line-height:0;
    height:1em;
    width:1em;
  }

  ul.nav.flex-column {
    .nav-link {
      border:1px solid $backgroundColor;
      &:hover{
        border:1px solid darken($backgroundColor, 6);
        background-color: lighten($backgroundColor, 2);
      }
    }
  }
}
