$baseSize: 1em;

.img-sz-1 {
  width:$baseSize;
  height:$baseSize;
}

.img-sz-2 {
  width:$baseSize * 2;
  height:$baseSize * 2;
}

.img-sz-3 {
  width:$baseSize * 3;
  height:$baseSize * 3;
}

.img-sz-4 {
  width:$baseSize * 4;
  height:$baseSize * 4;
}
